@import "normalize.styl"

gris= #262626
gris_claro= #C5C5D3
body
	background black
	color white 
	font-size 16px

.header
	background gris
	padding 1em 10%
	text-align center 
	img
		position relative 
		top 60px
		left -100px
.loop
	display flex
	flex-direction column
	padding 2em 30%
.article
	padding 2em 
	color gris_claro
	.article_title
		background gris
		color white
		font-size 1.2em 
		text-align center 

	